.selectContainer {
  position: relative;
  display: inline-block;
  /* min-width: 74px; */
  width: auto;
  height: 44px;
}

.select {
  appearance: none;
  width: 100%;
  padding: 8px 24px 8px 14px;
  font-size: 14px;
  border: 1px solid var(--border-color);
  border-radius: 8px;
  background-color: white;
  color: #1a202c;
  cursor: pointer;
  transition: all 0.2s ease;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
  outline: none;
}

@media (max-width: 768px) {
  .select {
    padding: 12px 24px 14px 14px;
  }
}

.select:focus {
  border-color: var(--foreground);
  box-shadow: 0 0 0 3px rgba(124, 126, 128, 0.1);
}

.arrow {
  position: absolute;
  top: 35%;
  right: 16px;
  width: 6px;
  height: 6px;
  pointer-events: none;
  border-right: 2px solid #718096;
  border-bottom: 2px solid #718096;
  transform: translateY(-50%) rotate(45deg);
}
