.form {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
  background-color: white;
  border: 1px solid var(--border-color);
  border-radius: 1.5rem;
  padding: 14px 16px;
}

@media (max-width: 768px) {
  .form {
    padding: 14px 14px;
    margin-bottom: 20px;
    gap: 4px;
    border-radius: 12px;
  }
}

.textInput {
  padding: 0px 14px;
  border-radius: 8px;
  font-size: 16px;
  border: 1px solid var(--border-color);
  transition: all 0.2s ease;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
  height: 44px;
}

@media (max-width: 768px) {
  .textInput {
    font-size: 14px;
  }
}

.textInput:focus {
  outline: 1px solid var(--foreground);
}

.btn {
  padding: 0px 14px;
  border-radius: 8px;
  background-color: #000;
  color: white;
  border: none;
  outline: none;
  height: 44px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.selectContainer {
  position: relative;
  display: inline-block;
  /* min-width: 74px; */
  width: auto;
  height: 44px;
}

.select {
  appearance: none;
  width: 100%;
  padding: 14px 24px 14px 14px;
  font-size: 14px;
  border: 1px solid var(--border-color);
  border-radius: 8px;
  background-color: white;
  color: #1a202c;
  cursor: pointer;
  transition: all 0.2s ease;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
  outline: none;
}

@media (max-width: 768px) {
  .select {
    padding: 12px 24px 14px 14px;
  }
}

.select:focus {
  border-color: var(--foreground);
  box-shadow: 0 0 0 3px rgba(124, 126, 128, 0.1);
}

.arrow {
  position: absolute;
  top: 45%;
  right: 16px;
  width: 6px;
  height: 6px;
  pointer-events: none;
  border-right: 2px solid #718096;
  border-bottom: 2px solid #718096;
  transform: translateY(-50%) rotate(45deg);
}

.srOnly {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}
