.modalBackdrop {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.modalContent {
  position: relative;
  background: white;
  padding: 20px;
  border-radius: 12px;
  width: 90%;
  max-width: 500px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
}

.closeIcon {
  position: absolute;
  top: 10px;
  right: 15px;
  background: none;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
  color: #555;
}

.modalTitle {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 12px;
}

.input,
.select,
.textarea {
  width: calc(100% - 20px);
  max-width: 100%;
  padding: 10px;
  margin: 8px auto;
  border-radius: 8px;
  border: 1px solid #ccc;
  font-size: 16px;
  outline: none;
  box-sizing: border-box;
  display: block;
}

.selectContainer {
  position: relative;
  display: inline-block;
  width: auto;
  height: 44px;
}

.select {
  appearance: none;
  padding: 14px 24px 8px 14px;
  margin-bottom: 10px;
  font-size: 14px;
  border: 1px solid var(--border-color);
  border-radius: 8px;
  background-color: white;
  color: #1a202c;
  cursor: pointer;
  transition: all 0.2s ease;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
  outline: none;
}

.select:focus {
  border-color: var(--foreground);
  box-shadow: 0 0 0 3px rgba(124, 126, 128, 0.1);
}

.arrow {
  position: absolute;
  top: 50%;
  right: 16px;
  width: 6px;
  height: 6px;
  pointer-events: none;
  border-right: 2px solid #718096;
  border-bottom: 2px solid #718096;
  transform: translateY(-50%) rotate(45deg);
}

.textarea {
  resize: vertical;
  min-height: 80px;
  max-height: 200px;
  margin-top: 24px;
}

.saveBtn {
  width: calc(100% - 20px);
  max-width: 100%;
  padding: 14px 10px;
  margin: 8px auto;
  background: #121212;
  color: white;
  border: 1px solid transparent;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
}

.saveBtn:hover {
  background: white;
  border: 1px solid #121212;
  color: #121212;
}
