.app {
  display: grid;
  grid-template-rows: 84dvh 1fr;
  max-width: 640px;
  margin: 0 auto;
  height: 100vh;
  height: 100dvh;
  padding: 1rem;
  box-sizing: border-box;
  gap: 1rem;
  overflow: hidden;
}

@media (max-width: 768px) {
  .app {
    grid-template-rows: 1fr auto;
  }
}
