@font-face {
  font-family: "Sora";
  src: url("/fonts/Sora-VariableFont_wght.woff2") format("woff2");
  font-weight: 100 900;
  font-display: swap;
}

:root {
  font-family: "Sora", sans-serif;

  --foreground: #171717;
  --background: #f9f9f9;
}

html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: var(--foreground);
  background: var(--background);
}
