.srOnly {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

.textInput {
  padding: 0px 14px;
  border-radius: 8px;
  font-size: 16px;
  border: 1px solid var(--border-color);
  transition: all 0.2s ease;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
  height: 34px;
  font-size: 14px;
}

@media (max-width: 768px) {
  .textInput {
    font-size: 14px;
    height: 44px;
  }
}

.textInput:focus {
  outline: 1px solid var(--foreground);
}
